#Config
deploy.properties
build.properties
runtime.properties
applicationSetup.n3

#Build dir
.build/

#Release files
vivo-rel-1.5.1
vitro-data
data
vivo-rel-1.5.1.zip
revisionInfo

#Eclipse
.classpath
.project
.settings

fsm_vivo.zip
IndividualTemplateModel.class

custom-vivo/
legacy_files/
rdf_files/